#panel
  input.left(name="text_alignment" type="radio" checked)
  input.center(name="text_alignment" type="radio")
  input.right(name="text_alignment" type="radio")
  input.justify(name="text_alignment" type="radio")
  .floater
    span
      span
    span
      span
    span
      span